<a href="https://colab.research.google.com/github/quinnmahoney63-prog/MIS2800/blob/main/Mahoney_HW_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("HW3_AFC_North_APPG.db")

Create a STRICT TABLE

In [3]:
conn.execute('''
CREATE TABLE HW_AFC_North_APPG(
  team_name TEXT PRIMARY KEY NOT NULL,
  coach TEXT,
  wins INTEGER,
  losses INTEGER,
  ties INTEGER)
  STRICT;
  ''')

Adding Team stats

In [4]:
conn.execute('''
INSERT INTO HW_AFC_North_APPG (team_name, coach, wins, losses, ties)
VALUES ('Steelers', 'Mike Tomlin', 10, 7, 0),
('Ravens', 'John Harbaugh', 8, 9, 0),
('Bengals', 'Zac Taylor', 6, 11, 0),
('Browns', 'Kevin Stefanski', 5, 12, 0);
''')

Filtering Teams

In [5]:
query = "SELECT * FROM HW_AFC_North_APPG WHERE wins > 7"
results = conn.execute(query)
for row in results:
  print(row)

('Steelers', 'Mike Tomlin', 10, 7, 0)
('Ravens', 'John Harbaugh', 8, 9, 0)

Sorting Data

In [6]:
query = "SELECT team_name, wins FROM HW_AFC_North_APPG ORDER BY wins DESC"
for row in conn.execute(query):
  print(row)

('Steelers', 10)
('Ravens', 8)
('Bengals', 6)
('Browns', 5)